@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: auto;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem 0;
}

header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    padding-bottom: 1rem;
}

header h1 {
    padding-bottom: .5rem;
    font-size: 1.8rem;
}

header p {
    width: 22rem;
    font-size: 1.2rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .box-links {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22rem;
    margin: 1rem 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: .2rem solid rgb(255, 255, 255);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, .3);
    text-align: center;
}

.container .box-links img {
    margin-right: .5rem;
}

.container .box-links a {
    display: block;
    font-size: 1.2rem;
    color: #FFFFFF;
    font-weight: 500;
}

.container .box-links:hover {
    background: #ffffff34;
}

footer {
    padding: 1rem 0;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    text-align: center;
}

