@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body, main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    color: #FFFFFF;
}

body {
    background-image: url("../images/background.svg");
    background-size: cover;
    min-height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    width: 150px;
    padding-bottom: 1.5rem;
}

header h1 {
    text-transform: capitalize;
    font-size: 2rem;
}

header p {
    padding: 0.5rem 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.5rem 0;
}

section a {
    text-align: center;
}

section a i {
    width: 500px;
}

.link {
    width: 570px;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 18px; 
    font-weight: 500;
     
}

.link:hover {
    color: #0e0e0e;
    background: linear-gradient(45deg, #E8CBC0, #636FA4);
    font-weight: 600;
}

section a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a img {
    margin-right: 0.5rem;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    font-size: 12px;
    color: #FFFFFF;
}

/* resposividade */

@media only screen and (max-width: 450px) {
    body {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    header h1 {
        font-size: 1.5rem;
    }

    header p {
        text-align: center;
        width: 400px;
        font-size: 1rem;
    }

    .link {
        max-width: 350px;
    }
}